<nav class="nav-bar">
    <div class="nav-bar-left">
        <ul class="dropdown">
            <button class="drop-btn">Démonstrations</button>
            <div class="dropdown-content">
                <a routerLink="/demos/binding">Binding</a>
                <a routerLink="/demos/pipe">Pipe</a>
                <a routerLink="/demos/directive">Directive</a>
                <a routerLink="/demos/inputOutput">Input output</a>
            </div>
        </ul>
        <ul class="dropdown">
            <button class="drop-btn">Exercices</button>
            <div class="dropdown-content">
                <a routerLink="/exos/chronometre">Chronomètre</a>
                <a routerLink="/exos/listeProduits">Liste produits</a>
                <a routerLink="/exos/shopping">Shopping list</a>
            </div>
        </ul>
    </div>
    <div class="nav-bar-right">
        <span>Angular</span>
    </div>
</nav>